.ipynb_checkpoints/TP Marinozzi-checkpoint.py
.ipynb_checkpoints/TP Final (Código) E. Internacional II - Artaza, Albarracín, Serrano-checkpoint.ipynb
TP Final - Artaza, Albarracín, Serrano - Código y data.zip
.ipynb_checkpoints/soybean-prices-historical-chart-data-checkpoint.csv
.ipynb_checkpoints/gold-futures-checkpoint.csv
.ipynb_checkpoints/corn-prices-historical-chart-data-checkpoint.csv
Data_for_testing.csv
Data_for_testing.RDS
